.contador-text {
    font-size: .7rem;
    color: Var(--color-gris-500);
    margin-top: 4px;
    padding-left: 15px;
}

h1 {
    font-size: 2.5rem;
    color: var(--color-default);
}

h2 {
    color: var(--color-dark-800);
    font-size: 2rem;
    font-weight: 600;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

.icono-rotado {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}


/* Sección layout */
.contenedor-layout {
    width: 100%;
    height: 100dvh;
}

.banner-datos {
    position: relative;
    width: 100%;
    height: 100%;
}
/* Fin Sección layout */


/* Sección banner */
.contenedor-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
/* Fin Sección banner */


/* Sección datos */
.contenedor-extra-datos {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    max-width: 1536px;
    height: 100%;
    padding: 20px;
}

.banner-titulo {
    display: flex;
    align-items: center;
    height: 40%;
    padding: 50px 0;
}

.contenedor-datos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 60%;
    padding: 40px;
    border-radius: 50px 10px 10px;
    background-color: var(--color-default);
    overflow: hidden;
}

.datos-inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: auto;
}

.informacion-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.datos-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .datos-botones .button-87-main {
        border-radius: 10px;
    }

.btn-atras {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

    .btn-atras i {
        font-size: 1rem;
    }

    .btn-atras:hover span {
        text-decoration: underline;
        font-weight: 500;
    }

.btn-siguiente-deshabilitado {
    background-image: linear-gradient(45deg, #756d6d 0%, #6b6b6b 51%, #333333 100%);
}

.input-field-textarea {
    resize: none;
}
/* Fin Sección datos */


/* Sección categorías */
.lista-categorias {
    display:flex;
    flex-direction:column;
    gap:5px;
}

.categoria-label {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-dark-400);
    transition: all 0.3s ease;
}

.categoria-label :hover{
    cursor:pointer;
}

.categoria-label-texto {
    display:flex;
    flex-direction:column;
    gap:5px;
}

.categoria-label-titulo {
    color: var(--color-dark-700);
}

.categoria-label-descripcion {
    font-size: .8rem;
    color: var(--color-gris-500);
}

.categoria-label-imagen {
    width:100px;
    min-width:100px;
    height:100px;
    border-radius:5px;
    overflow:hidden;
}

input[type="radio"]:checked + .categoria-label {
    border-color: var(--color-primario-500);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
    input[type="radio"]:checked + .categoria-label .categoria-label-titulo {
        color: var(--color-dark-900);
        font-weight: 500;
    }

    input[type="radio"]:checked + .categoria-label .categoria-label-descripcion {
        color: var(--color-gris-700);
    }
/* Fin Sección categorías */


/* Sección propiedades */
.lista-propiedades {
    display:flex;
    flex-direction:column;
    gap:5px;
}

.propiedad-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-dark-400);
    transition: all 0.3s ease;
}

.propiedad-label :hover{
    cursor:pointer;
}

.propieadad-label-titulo {
    color: var(--color-dark-700);
}

.propieadad-label-descripcion {
    font-size: .8rem;
    color: var(--color-gris-500);
}

input[type="radio"]:checked + .propiedad-label {
    border-color: var(--color-primario-500);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

    input[type="radio"]:checked + .propiedad-label .propieadad-label-titulo {
        color: var(--color-dark-900);
        font-weight: 500;
    }

    input[type="radio"]:checked + .propiedad-label .propieadad-label-descripcion {
        color: var(--color-gris-700);
    }
/* Fin Sección propiedades */


/* Sección tipos de servicios */
.desplegables-servicios {
    display:flex;
    flex-direction:column;
    gap:5px;
}

.tipo-servicio {
    border: 1px solid var(--color-gris-200);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-gris-50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contenedor-servicio-titulo {
    display:flex;
    align-items:center;
    justify-content:space-between;
    cursor:pointer;
}

    .contenedor-servicio-titulo i {
        color: var(--color-dark-400);
    }

.tipo-titulo {
    font-size: 1rem;
    color: var(--color-dark-700);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .tipo-titulo:hover {
        color: var(--color-dark-900);
    }

.lista-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
    font-size: .8rem;
    color: Var(--color-dark-700);
}

    .servicio-item-label:hover {
        cursor: pointer;
    }

        .servicio-item-label:hover span {
            cursor: pointer;
            text-decoration: underline;
        }

input[type="checkbox"]:checked + .servicio-item-label {
    color: Var(--color-primario-500);
}
/* Fin Sección tipos de servicios */


/* Sección restricciones */
.contenedor-restricciones {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--color-dark-700);
    font-size:.8rem;
    gap:10px;
}
/* Fin Sección restricciones */







































































.input-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .input-group input[type="number"] {
        width: 60px;
        text-align: center;
    }

    .input-group button {
        background: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

        .input-group button:hover {
            background: #0056b3;
        }




































@media (min-width: 1024px) {
    /* Sección banner */
    .contenedor-banner {
        width: 50%;
        height: 100%;
        border-radius: 0 0 50px 0;
    }
    /* Fin Sección banner */

    /* Sección datos */
    .contenedor-extra-datos {
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding: 20px;
    }

    .banner-titulo {
        width: 40%;
        height: 100%;
        padding-right: 20px;
    }

    .contenedor-datos {
        width: 60%;
        height: auto;
        max-height: 80%;
        border-radius: 10px;
    }
    /* Fin Sección datos */
}

@media (min-width: 1536px) {
    /* Sección datos */
    .contenedor-extra-datos {
        padding: 20px 0;
    }
    /* Fin Sección datos */
}









/* Sección subida imágenes */
.upload-container {
    text-align: center;
    border: 2px dashed var(--color-gris-200);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    color: var(--color-gris-200);
}

    .upload-container:hover {
        border-color: var(--color-primario-500);
    }

    .upload-container h2 {
        font-size: 1.2rem;
    }

.drop-zone {
    position: relative;
    border: 2px dashed var(--color-primario-400);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

    .drop-zone p {
        margin: 0;
        color: var(--color-gris-500);
        font-size: 14px;
    }

    .drop-zone input {
        display: none;
    }

.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}

.preview-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

    .preview-item a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .preview-item img {
        height: 100%;
        width: auto;
        object-fit: contain;
        display: block;
    }

    .preview-item .remove-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: var(--color-dark-950);
        color: var(--color-default);
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
    }

        .preview-item .remove-btn:hover {
            background-color: var(--color-gris-200);
            color: var(--color-dark-950);
        }
/* Fin Sección subida imágenes */













/* Sección inputs */
.contenedor-datos {
    padding: 20px;
}

.datos-adicionales {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-default);
    margin: 0 auto;
}

.contenedor-fechas h2 {
    font-size: 1.2rem;
    color: Var(--color-dark-600);
    margin-bottom: 10px;
}

.buscar-fechas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .buscar-fechas button {
        cursor: pointer;
    }

.inputs-fechas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fechas-agregadas {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fecha-item {
    padding: 10px;
    background-color: var(--color-gris-100);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fecha {
    display: flex;
    gap: 20px;
}

    .fecha div {
        display: flex;
        flex-direction: column;
    }

.fecha-agregada-titulo {
    font-size: .8rem;
    font-weight: 600;
    color: var(--color-gris-700);
}

.fecha-agregada-valor {
    color: var(--color-gris-700);
    font-size: .8rem;
}

.remove-fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: var(--color-gris-700);
    border: 2px solid var(--color-gris-700);
    cursor: pointer;
}

    .remove-fecha:hover {
        color: var(--color-default);
        background-color: var(--color-gris-700);
    }

.btn-fecha-sm {
    display: none;
}
/* Fin Sección inputs */
