/*
.descripcion {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tarjeta-publicación:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    */
