@model List<PublicacionTarjetaV2VM>


@{
    ViewData["Title"] = "Favoritos";
}


@section Styles {
    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/favoritos/Favoritos.css">
}


<section class="favoritos">
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
    <article class="favorito-tarjeta b-s-93">
        <div class="favorito-img">
            <img src="https://images.unsplash.com/photo-1637419567748-6789aec01324?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </div>

        <div class="favorito-contenido">
            <div class="favorito-informacion">
                <a href="">
                    <h2>Titulo lkajfk akdlfjlakdjf adkfjlkadjf adkfjalkdj adfjkladjf</h2>
                </a>
                <p class="favorito-descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed ducimus nihil
                    reprehenderit voluptas dolore suscipit deleniti vel officiis optio nesciunt explicabo
                    corporis, asperiores ratione earum aliquam accusantium, libero eligendi.
                </p>
            </div>
            <div class="favorito-footer">
                <div class="favorito-puntuacion">
                    <span>4.5</span>
                    <div class="favorito-puntuacion-detalles">
                        <div class="favorito-estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <div class="favorito-estrellas-nota" style="width: 85%;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <span>5.384 Reseñas</span>
                    </div>
                </div>
                <div class="favorito-botones">
                    <i class="fa-solid fa-heart"></i>
                    <a href="" class="button-87-main">Ver Más</a>
                </div>
            </div>
        </div>
    </article>
</section>
