@model Reserva
<h1>VISTA Reserva</h1>

<body>

	<div class="align-text-bottom">

	</div>


	<form method="post" asp-controller="Reserva">

		<label asp-for="FechaInicial"></label> <br />
		<input type="date" /> <br />

		<label asp-for="FechaFinal"></label> <br /><br />
		<input type="date" /><br />

		<label asp-for="NumeroPersonas"></label><br /><br />
		<input type="number" /><br />

		<br /><br />
		<button type="submit">enviar</button>

	</form>

</body>

