@model Reserva
<h1>VISTA Reserva</h1>

<form method="post">

	
	<label asp-for="FechaInicial"></label>
	<input  type="date" />

	<label asp-for="FechaFinal"></label>
	<input type="date" />

	<label asp-for="NumeroPersonas"></label>
	<input type="number" />




</form>