
<h1>VISTA Reserva</h1>

<form>

	
	<p>ingrese la fecha inicial</p>
	<input  type="date" id="FechaInicial"/>

	<p>ingrese la fecha final</p>
	<input type="date" id="FechaFinal"/>

	<p>ingrese el numero de personas que se hospedan</p>
	<input type="number" id="CantidadPersonas"/>




</form>