<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dviaje</title>
    
    @* Fuente Poppins *@
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    @* Font awesome v6.6.0 *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    @* Main css *@
    <link rel="stylesheet" href="~/css/general/styles.css" />
    
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="b-s-11">
        <nav class="c-r">
            <ul class="nav-main-ul">
                <li>
                    <a asp-area="Dviaje" asp-controller="Inicio" asp-action="Index" class="logo-a">
                        <!-- Optimizar imagen del logo -->
                        <img class="nav-main-logo" src="~/img/logoDViaje.webp" alt="logo de DViaje">
                    </a>
                </li>
                <!-- Items de escritorio -->
@*                 <div class="nav-main-items"></div> *@
                <div class="nav-main-botones">
                    <li><a class="nav-main-a" asp-area="Dviaje" asp-controller="Publicaciones" asp-action="Publicaciones">Publicaciones</a></li>
                    <li><a class="nav-main-a" asp-area="Dviaje" asp-controller="Pqrs" asp-action="Pqrs">PQRS</a></li>
                    <partial name="_SinIngresoPartial" />
                    <partial name="_LoginPartial" />
                    
                    <!-- Items de mobile -->
                    <div class="menu-desplegable menu-nav-mobile">
                        <button class="menu-desplegable-boton menu-main-mobile">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <div class="menu-desplegable-contenido b-s-95">
                            <div>
                                <li>
                                    <a href="" class="">Publicaciones</a>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <a href="" class="">PQRS</a>
                                </li>
                            </div>
                            <div class="ingreso-parcial-botones">
                                <partial name="_SinIngresoPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </nav>
    </header>


    <main>
        @RenderBody()
    </main>


    <footer>
        <p>Footer</p>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/general/layout.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>