<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dviaje</title>
    
    @* Fuente Poppins *@
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    @* Font awesome v6.6.0 *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    @* Main css *@
    <link rel="stylesheet" href="~/css/general/styles.css" />
    
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="contenedor-nav-main">
        <nav class="nav-main">
            <ul class="nav-main-ul">
                <li>
                    <a asp-area="Dviaje" asp-controller="Inicio" asp-action="Index">
                        <!-- Optimizar imagen del logo -->
                        <img class="nav-main-logo" src="~/img/logoDViaje.webp" alt="logo de DViaje">
                    </a>
                </li>
                <!-- Items de escritorio -->
                <div class="nav-main-items">
                    <li><a class="nav-main-a" asp-area="Dviaje" asp-controller="Publicaciones" asp-action="Publicaciones">Publicaciones</a></li>
                    <li><a class="nav-main-a" asp-area="Dviaje" asp-controller="Pqrs" asp-action="Pqrs">PQRS</a></li>
                    <li><a class="nav-main-a" href="">Item</a></li>
                    <li><a class="nav-main-a" href="">Item</a></li>
                </div>
                <div class="nav-main-botones">
                    <partial name="_SinIngresoPartial" />
                    <partial name="_LoginPartial" />
                    
                    <!-- Items de mobile -->
                    <div class="desplegable">
                        <li class="nav-mobile-icono" data-desplegable="menu-mobile">
                            <i class="fa-solid fa-bars"></i>
                        </li>

                        <ul class="desplegable-items" data-desplegable-items="menu-mobile">
                            <li>
                                <a class="h-p-500 desplegable-items-icons" asp-area="Dviaje" asp-controller="Publicaciones" asp-action="Publicaciones">
                                    <i class="fa-solid fa-gear"></i>
                                    Publicaciones
                                </a>
                            </li>
                            <li>
                                <a class="h-p-500 desplegable-items-icons" asp-area="Dviaje" asp-controller="Publicaciones" asp-action="Publicaciones">
                                    <i class="fa-solid fa-gear"></i>
                                    PQRS
                                </a>
                            </li>
                            <div class="hr hr-butones-ingreso"></div>
                            <div class="nav-mobile-ingreso">
                                <partial name="_SinIngresoPartial" />
                            </div>
                        </ul>
                    </div>
                </div>
            </ul>
        </nav>
        </div>
    </header>


    <main>
        @RenderBody()
    </main>


    <footer>
        <p>Footer</p>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/general/layaut.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>