@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    // Menu desplegable avatar
    <div class="desplegable">
        <div class="avatar" data-desplegable="avatar">
            <img src="https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXZhdGFyfGVufDB8fDB8fHww" alt="Alternate Text" class="img-f" />
        </div>

        <ul class="desplegable-items" data-desplegable-items="avatar">
            <li>
                <a class="h-p-500 desplegable-items-icons" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class="fa-solid fa-user-gear"></i>
                    Administrar Cuenta
                </a>
            </li>
            <div class="hr"></div>
            <form class="cerrar-sesion h-p-500" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Inicio", new { area = "" })">
                <button id="logout" type="submit">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Cerrar sesión
                </button>
            </form>
        </ul>
    </div>
}