@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <li>
        <a class="button-23 botones-principal-identity" id="register" asp-area="Identity" asp-page="/Account/Login">Ingresar</a>
    </li>
    <li>
        <a class="button-87-main botones-principal-identity" id="login" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
}
