@{
    ViewData["Title"] = "Crear Publicación";
}


@section Styles {
    <!-- Fancybox ui v5.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@@5.0/dist/fancybox/fancybox.css" />

    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/publicaciones/publicacion-crear.css">
}


@Html.AntiForgeryToken()
<div class="contenedor-layout">
    <div class="banner-datos">
        <section class="contenedor-banner b-s-95" id="contenedor-imagen"></section>

        <div class="contenedor-extra-datos">
            <div class="banner-titulo" id="contenedor-titulo"></div>
            <section class="contenedor-datos b-s-93">
                <div class="datos-inputs" id="contenido-dinamico"></div>
                <div class="hr"></div>
                <div class="datos-botones" id="grupo-botones"></div>
            </section>
        </div>
    </div>
</div>

<div class="contenedor-loader loader-hide" id="loader">
    <span class="loader"></span>
    <p>Publicando ...</p>
</div>


@section Scripts {
    <!-- Sortable.js -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <!-- SweetAlert2 v11 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="module" src="~/js/publicaciones/publicacionCrear.js"></script>
}
