@{
    ViewData["Title"] = "Sin Reseñas";
}

<div class="container mt-5">
    <div class="alert alert-info text-center">
        <h3>No tienes reseñas.</h3>
        <p>Parece que aún no has realizado ninguna reseña. ¡Comienza a explorar y deja tu opinión sobre las publicaciones que te interesen!</p>
        <a href="~/Turista/Publicaciones/Index" class="btn btn-primary">Explorar Publicaciones</a>
    </div>
</div>
