/* Barra de navegación principal */
.nav-main {
    position: relative;
    padding: 10px 20px;
    max-width: 1536px;
    margin: 0 auto;
}

.nav-main-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main-items {
    display: none;
}

    .nav-main-items a:hover {
        color: var(--color-primario-500);
    }

@media (min-width: 1024px) {
    .nav-main-items {
        display: flex;
        gap: 10px;
    }
}

.nav-main-botones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-main-a {
    display: none;
}

.configuracion {
    color: var(--color-primario-500);
    font-size: 25px;
}

    .configuracion:hover {
        color: var(--color-terciario-500);
    }

@media (min-width: 640px) {
    .nav-main-a{
        display: block;
    }
}

.nav-main-logo {
    height: 50px;
}

.desplegable {
    position:relative;
}

.desplegable-items {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.desplegable-items-show {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 15px;
    background-color: blue;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    font-size:.8rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: var(--color-default);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.desplegable-items-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-gris-700);
    white-space: nowrap;
    flex-wrap: nowrap;
}

.d-c-t-500 {
    color: var(--color-terciario-500) !important;
    border-color: var(--color-terciario-500) !important;
}

.nav-mobile-icono {
    font-size: 1.7rem;
    color: var(--color-primario-500);
}

    .nav-mobile-icono:hover {
        color: var(--color-terciario-500);
        cursor:pointer;
    }

.nav-mobile-ingreso {
    width:100%;
    display:flex;
    flex-direction:column;
    gap:5px;
}

@media (min-width: 640px) {
    .nav-mobile-ingreso {
        display: none;
    }
}

.nav-mobile-ingreso li a{
    display: block;
}

.nav-mobile-ingreso li a button{
    width: 100%;
}

@media (min-width: 1024px) {
    .nav-mobile-icono, .desplegable [data-desplegable-items="menu-mobile"] {
        display: none !important;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--color-primario-500);
    overflow: hidden;
}

    .avatar:hover {
        border: 2px solid var(--color-terciario-500);
        cursor: pointer;
    }

.hr {
    height: 1px;
    width: 100%;
    background-color: var(--color-gris-200);
}

@media (min-width: 640px) {
    .hr-butones-ingreso {
        display:none;
    }
}

.cerrar-sesion {
    width: 100%;
}

.cerrar-sesion button{
    padding:0;
    margin:0;
    display:flex;
    align-items:center;
    gap:10px;
}

    .cerrar-sesion button:hover {
        color: var(--color-primario-500);
    }
