/* Barra de navegación principal */
.nav-main {
    position: relative;
    padding: 10px 20px;
    max-width: 1536px;
    margin: 0 auto;
}

    .nav-main ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-main .nav-main-items {
        display: none;
    }

        .nav-main .nav-main-items a:hover{
            color: var(--color-primario-500);
        }

@media (min-width: 1024px) {
    .nav-main .nav-main-items {
        display: flex;
        gap: 10px;
    }
}

.nav-main .nav-main-botones {
    display: flex;
    gap: 10px;
}

.nav-main .nav-main-botones li a{
    display: none;
}

@media (min-width: 640px) {
    .nav-main .nav-main-botones li a {
        display: block;
    }
}

.nav-main .nav-main-logo {
    height: 50px;
}

.nav-main .icono-menu {
    font-size: 30px;
    color: var(--color-primario-500);
    cursor: pointer;
}

    .nav-main .icono-menu:hover {
        color: var(--color-terciario-500);
    }

.nav-main .icono-menu-show {
    font-size: 30px;
    color: var(--color-terciario-500);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .nav-main .icono-menu {
        display: none;
    }
}

/* Items mobile */
.items-mobile {
    display: none !important;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.items-mobile-show {
    position: absolute;
    top: 60px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: #fff;
    border-radius: 20px;
    /* b-s-11 */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media (min-width: 640px) {
    .items-mobile-show {
        width: fit-content;
        padding: 10px 50px;
    }
}

@media (min-width: 1024px) {
    .items-mobile, .items-mobile-show {
        display: none !important;
    }
}

/* Fix hover */
.items-mobile li a:hover {
    color: var(--color-primario-500);
}

.items-mobile-btns {
    width: 100%;
}

    .items-mobile-btns li a button {
        width:100%;
        margin-bottom: 10px;
    }

@media (min-width: 640px) {
    .items-mobile-btns {
        display: none;
    }
}


