

.logo-img {
    width: auto; /* Ajusta el tamaño según sea necesario */
    height: 130px; /* Mantiene las proporciones */
    padding-left: 0%;
    margin-left: 0%;
}


.img-fluid1 {
    margin-top: 10px;
    width: auto;
    height: 400px;
}

.head1 {
    background-color: black;
    margin-top: 10px;
}

.container {
    margin-top: 10px;
}

.container1 {
    background-color: orange;
    width: auto;
    height: 60px;
    background: linear-gradient(to right, orange, black); /* De blanco sólido a transparente de derecha a izquierda */
}

.container2 {
    background-color: black;
    width: auto;
    height: 700px;
}

.letterc {
    font-size: 70px;
    color: black;
    font-family: "Bangers", system-ui;
    text-decoration: none;
}





.Top {
    background-color: black;
}

.row {
    margin-top: 8px;
    background-color: aliceblue;
    height: 700px;
    width: 1400px;
}

.row1 {
    margin-top: 0%;
    width: 100%;
    height: 420px;
    background-color: rgb(12, 12, 12);
}



.btn {
    background-color: orange;
}

.letterc {
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    animation: moveText 10s linear infinite, pulse 1.5s infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 5px 5px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 1px;
    border-radius: 0;
}

.btn-inicio {
    background-color: orange; /* Verde */
    color: white;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.btn-registro {
    background-color: #26bdf0; /* Azul */
    color: white;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}


.button-container {
    margin-top: 20px;
}





.icons {
    display: flex;
    justify-content: space-around; /* Espacio igual entre iconos */
    align-items: center; /* Alineación vertical centrada */
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    padding: 5px; /* Espacio alrededor */
    background-color: black; /* Fondo opcional */
    height: 60px;
}

.icon-container i {
    font-size: 2rem; /* Tamaño de los iconos */
    color: #007bff; /* Color de los iconos */
}

video {
    margin-top: 0%;
    width: 100%; /* Ajusta el ancho del video al 100% del contenedor */
    height: 1100px; /* Mantiene la relación de aspecto del video */
}

.horizontal-row {
    background-color: black;
    display: flex;
    height: 400px;
    flex-wrap: nowrap; /* Evita que los ítems se envuelvan en una nueva fila */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    padding: 0; /* Elimina el padding adicional */
    margin: 0; /* Elimina el margin adicional */
}

    .horizontal-row .col-12 {
        flex: 0 0 auto; /* Evita que las columnas se reduzcan de tamaño */
        width: 20%; /* Asegura que cada ítem ocupe el 20% del contenedor en pantallas medianas y mayores */
    }

.carousel-image {
    width: 200px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 180px; /* Ajusta la altura de la imagen según sea necesario */
    object-fit: cover; /* Ajusta la imagen para que se ajuste bien */
}

.btn-custom {
    width: 100px; /* Ancho del botón */
    padding: 10px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño del texto del botón */
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    text-align: center;
}
