.favoritos {
    display: grid;
    gap: 5px;
    padding: 100px 10px;
    width:100%;
    max-width: 1536px;
    margin: 0 auto;
}

.favorito-tarjeta {
    position: relative;
    width: 100%;
    height: 480px;
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
}

.favorito-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.favorito-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-default);
    color: var(--color-gris-700);
    padding: 20px;
    border-radius: 20px;
    height: 240px;
}

.favorito-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorito-informacion a {
    display: block;
    width: fit-content;
}

.favorito-informacion h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-weight: 700;
}

.favorito-descripcion {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
    font-weight: 300;
}

.favorito-puntuacion {
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
}

    .favorito-puntuacion span:first-child {
        font-size: 2rem;
        font-weight: 600;
    }

.favorito-puntuacion-detalles span {
    display: block;
    font-size: .8rem;
}

.favorito-estrellas,
.favorito-estrellas-nota {
    position: relative;
    display: flex;
    width: fit-content;
    color: var(--color-primario-500);
}

.favorito-estrellas-nota {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.favorito-botones {
    display: flex;
    align-items: center;
    gap: 4px;
}

    .favorito-botones i {
        color: var(--color-primario-500);
        font-size: 2rem;
        cursor: pointer;
    }


@media (min-width: 640px) {
    .favoritos {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 768px) {
    .favoritos {
        padding-left: 30px;
        padding-right: 30px;
    }

    .favorito-tarjeta {
        height: 280px;
    }

    .favorito-contenido {
        height: 100%;
        width: 50%;
    }
}

@media (min-width: 1380px) {
    .favoritos {
        padding-left: 50px;
        padding-right: 50px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1536px) {
    .favoritos {
        padding: 100px 0;
    }
}
