@model ReservaCrearVM


@{
    ViewData["Title"] = "Reservar";
}


@section Styles {
    <link rel="stylesheet" href="~/css/reservas/reservar.css">
}


<div class="c-r">
<div class="reserva-publicacion">
    <form class="reserva" method="post" asp-area="Turista" asp-controller="Reservas" asp-action="Reservar">
        <input type="hidden" asp-for="IdPublicacion" />
        <h1 id="titulo-reserva">Reserva ahora, vive la experiencia</h1>


        <div class="reserva-inputs">
            <div>
                <label asp-for="FechaInicial" class="input-label">
                    <input asp-for="FechaInicial" type="date" autocomplete="on" aria-required="true"
                           class="input-field" placeholder="Fecha Inicial" />
                    <span class="input-placeholder">Fecha Inicial*</span>
                </label>
                <span asp-validation-for="FechaInicial" class="validation-message"></span>
            </div>
            <div>
                <label asp-for="FechaFinal" class="input-label">
                    <input asp-for="FechaFinal" type="date" autocomplete="on" aria-required="true"
                           class="input-field" placeholder="Fecha Final" />
                    <span class="input-placeholder">Fecha Final*</span>
                </label>
                <span asp-validation-for="FechaFinal" class="validation-message"></span>
            </div>
        </div>

        <div class="reserva-precio">
            <span>$ @Model.PrecioTotal.ToString("N0")</span>
            <button type="submit" class="button-87-main">Reservar</button>
        </div>
        <div asp-validation-summary="ModelOnly" class="validation-message-all"></div>
    </form>

    <section class="publicacion" id="tarjeta-publicacion"></section>

</div>
</div>
@section Scripts {
    <script src="~/js/reservas/reservar.js" type="module"></script>
}
