@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo Confirmado";
}


@section Styles {
    <link href="/css/identity/register-confimation.css" rel="stylesheet" />
}


<div class="confirmacion">
    <h1>Gracias por confirmar tu correo electrónico, ahora puedes iniciar sesión.</h1>
    <img src="/img/assets/email-confirmado.svg" alt="Alternate Text" />
</div>
