@page
@model LoginModel

@{
    ViewData["Title"] = "Ingresar";
}


@section Styles {
    <link rel="stylesheet" href="~/css/autenticacion/login.css" />
}


<section class="ingreso">
    @* Banner *@
    <div class="ingreso-img">
        <img alt="Imagen representativa de Dviaje"
             src="https://images.unsplash.com/photo-1617195737496-bc30194e3a19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
             class="img-f" />
    </div>

    <form id="account" method="post" class="ingreso-form">
        <h1>Bienvenido a Dviaje</h1>

        @* Inputs *@
        <div class="ingreso-form-inputs">
            <div>
                <label asp-for="Input.Email" class="input-label">
                    <input asp-for="Input.Email" type="email" autocomplete="on" aria-required="true" class="input-field" placeholder="Correo" />
                    <span class="input-placeholder">Correo</span>
                </label>
                <span asp-validation-for="Input.Email" class="validation-message"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="input-label">
                    <input asp-for="Input.Password" type="password" autocomplete="on" aria-required="true" class="input-field" placeholder="Contraseña" />
                    <span class="input-placeholder">Contraseña</span>
                </label>
                <span asp-validation-for="Input.Password" class="validation-message"></span>
            </div>
            <div class="recuerdame">
                <input asp-for="Input.RememberMe" type="checkbox" class="custom-checkbox" />
                <label asp-for="Input.RememberMe">¿Recuérdame?</label>
            </div>
        </div>
        
        <button id="login-submit" type="submit" class="button-87-main">Iniciar sesión</button>
        
        @* Opciones adicionales *@
        <div class="opciones">
            <div>
                <span>¿Olvidaste tu contraseña?</span>
                <a id="forgot-password" asp-page="./ForgotPassword"> Recuperar contraseña</a>.
            </div>
            <div>
                <span>¿No tienes una cuenta?</span>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crea cuenta.</a>
            </div>
        </div>
    </form>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
