@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar Cuenta";
}

@section Styles {
    <link href="/css/identity/register-confimation.css" rel="stylesheet" />
}

<div class="confirmacion">
    <h1>Confirma tu correo Electrónico</h1>
    <img src="/img/assets/email-confirmacion.svg" alt="Alternate Text" />
</div>
