@{
    ViewData["Title"] = "Reportes";
}

<h2>Reportes Disponibles</h2>
<ul>
    <li><a asp-action="Reservas">Reporte de Reservas</a></li>
    <li><a asp-action="Publicaciones">Reporte de Publicaciones</a></li>
    <li><a asp-action="Pqrs">Reporte de PQRS</a></li>
    <li><a asp-action="Reseñas">Reporte de Reseñas</a></li>
</ul>
