@{
    ViewData["Title"] = "Publicaciones";
}

@section Styles {
    <!-- Utilidades -->
    <link rel="stylesheet" href="~/css/page/utilidades.css">
}

<div class="p-5 max-w-screen-2xl mx-auto my-10">
    <!-- Profits -->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
        <article class="rounded-lg border border-gray-100 bg-white p-6">
            <div>
                <p class="text-sm text-gray-500">Ganancias</p>

                <p class="text-2xl font-medium text-gray-900">24,000</p>
            </div>

            <div class="mt-1 flex gap-1 text-green-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                </svg>

                <p class="flex gap-2 text-xs">
                    <span class="font-medium"> 67.81% </span>

                    <span class="text-gray-500"> Desde la semana pasada </span>
                </p>
            </div>
        </article>

        <article class="rounded-lg border border-gray-100 bg-white p-6">
            <div>
                <p class="text-sm text-gray-500">Publicaciones Nuevas</p>

                <p class="text-2xl font-medium text-gray-900">240</p>
            </div>

            <div class="mt-1 flex gap-1 text-red-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
                </svg>

                <p class="flex gap-2 text-xs">
                    <span class="font-medium"> 67.81% </span>
                    <span class="text-gray-500"> Desde la semana pasada </span>
                </p>
            </div>
        </article>

        <article class="rounded-lg border border-gray-100 bg-white p-6">
            <div>
                <p class="text-sm text-gray-500">Publicaciones diarias</p>

                <p class="text-2xl font-medium text-gray-900">10</p>
            </div>

            <div class="mt-1 flex gap-1 text-red-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
                </svg>

                <p class="flex gap-2 text-xs">
                    <span class="font-medium"> 67.81% </span>
                    <span class="text-gray-500"> Desde la semana pasada </span>
                </p>
            </div>
        </article>

        <article class="rounded-lg border border-gray-100 bg-white p-6">
            <div>
                <p class="text-sm text-gray-500">Retencion</p>

                <p class="text-2xl font-medium text-gray-900">50%</p>
            </div>

            <div class="mt-1 flex gap-1 text-red-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
                </svg>

                <p class="flex gap-2 text-xs">
                    <span class="font-medium"> 67.81% </span>
                    <span class="text-gray-500"> Desde la semana pasada </span>
                </p>
            </div>
        </article>
    </section>


    <div class="flex justify-end w-full">
    <button class="button-87-main px-4 mt-10 mb-4">Descargar Reporte</button>

    </div>

    <!-- Gráficas -->
    <section class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <article class="rounded-lg border border-gray-100 bg-white p-2 w-full ">
            <canvas id="publicacionesPorMes"></canvas>
        </article>
        <article class="rounded-lg border border-gray-100 bg-white p-2 w-full md:row-span-2">
            <canvas id="publicacionesCategorias"></canvas>
        </article>
        <article class="rounded-lg border border-gray-100 bg-white p-2 w-full">
            <canvas id="publicacionesPrecios"></canvas>
        </article>
        <article class="rounded-lg border border-gray-100 bg-white p-2 w-full">
            <canvas id="publicacionesTop"></canvas>
        </article>
        <article class="rounded-lg border border-gray-100 bg-white p-2 w-full">
            <canvas id="publicacionesActivas"></canvas>
        </article>
    </section>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/page/publicacionesReportes.js" type="module"></script>
}
