@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/identity/layout.css">
}

@* <h1>Manage your account</h1> *@

            <partial name="_ManageNav" />
<div>
    @* <h2>Change your account settings</h2> *@
    <div>
        <div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)

    <script src="~/js/identity/layout.js"></script>
}
