@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos Personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


@section Styles {
    <!-- Toast v1.4 -->
    <link href="~/lib/iziToast/iziToast.min.css" rel="stylesheet" />

    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/identity/manage-data.css" />
}


<section class="contenedor-manage">
    <div class="contenedor-manage-contenido b-s-95">
        <div class="contenedor-datos b-s-93">
            <h1>@ViewData["Title"]</h1>
            <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">Download</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
            </p>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
