@model AtencionViajero

<form  method="post">

	<label asp-for="Nombre"></label>
	<input type="text" asp-for="Nombre"/>
	<span asp-validation-for="Nombre"></span>
	<span>fsdgfdgsdfgdf</span>
	<button>a</button>
</form>