@model List<ResenasVistaDviajeVM>

<p>Reseñas según el id de la publicación.</p>
<img src="https://cdn.dribbble.com/users/1158226/screenshots/7369246/media/a84825a95b1ff9dffbf7476169223ad8.png?resize=1000x750&vertical=center" alt="Alternate Text" />