/* Formulario */
.ingreso {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:end;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: calc(100dvh - 70px);
    color: var(--color-gris-700);
    font-size:.8rem;
    min-height: 100dvh;
}

.ingreso-img {
    width: 100%;
    height: 50%;
    position: absolute;
    top:0;
    left:0;
    z-index: -10;
}

.ingreso-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    height: 70%;
    border-radius: 50px 0 0;
    background-color: var(--color-light-50);
}

    .ingreso-form h1{
        text-align:center;
        font-weight:600;
        font-size:2rem;
    }

    .ingreso-form .ingreso-form-inputs {
        display:flex;
        flex-direction:column;
        gap:10px;
    }

.recuerdame {
    display:flex;
    align-items:center;
    justify-content:start;
    gap: 5px;
}

.recuerdame label {
    cursor: pointer;
}

.custom-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--color-gris-200);
    border-radius: 0.25rem;
    background-color: white;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
}

    .custom-checkbox:checked {
        background-color: var(--color-primario-500);
        border-color: var(--color-primario-500);
        position: relative;
    }

        .custom-checkbox:checked::after {
            content: '';
            position: absolute;
            top: 1px;
            left: 4px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

.button-87-main {
    width:100%;
    font-size:1rem;
}

.opciones {
    text-align:center;
}

.opciones a {
    text-decoration: underline;
}

    .opciones a:hover {
        color: var(--color-primario-500);
    }


/* Formulario de registro */
.ingreso-form-condiciones{
    text-align:center;
}

.ingreso-form-condiciones a {
    text-decoration: underline;
}

    .ingreso-form-condiciones a:hover {
        color: var(--color-primario-500);
    }

.input-placeholder {
    background-color: var(--color-light-50);
}

.input-field:focus + .input-placeholder {
    background-color: var(--color-light-50);
}


@media (min-width: 640px) {
    .ingreso-form {
        padding: 0 100px;
    }
}

@media (min-width: 768px) {
    .ingreso {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .ingreso-img {
        height: 100%;
        position: relative;
        z-index: auto;
        padding: 80px 20px 20px 0;
    }

        .ingreso-img img {
            border-radius: 30px;
        }

    .ingreso-form {
        height: 100%;
        width: 100%;
        max-width:500px;
        border-radius: 0;
        padding: 0 20px;
    }
}

@media (min-width: 1536px) {
    .ingreso-form {
        padding:0 20px 0 0;
    }

    .ingreso-img {
        height: 100%;
        position: relative;
        z-index: auto;
        padding: 80px 0 20px 0;
    }
}
