@model List<UsuariosTestVM>


@if (Model != null && Model.Any())
{
    foreach (var usuario in Model)
    {
        <p>@usuario.UserId</p>
        <p>@usuario.UserName</p>
        <p>----------Roles>----------</p>
        if (usuario.Roles != null && usuario.Roles.Any())
        {
            foreach (var rol in usuario.Roles)
            {
                <p>@rol</p>
            }
        }
        <p>----------Roles>----------</p>
    }
}