h1 {
    color: var(--color-gris-700);
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-manage-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-manage-contenido, .contenedor-datos {
    padding: 20px;
}

.contenedor-datos {
    background-color: var(--color-default);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hr {
    background-color: var(--color-gris-200);
}
